{% extends 'movies/base.html' %}
{% block title %}Actor list{% endblock %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <h3>Актеры</h3>
        <div class="col-12 d-flex justify-content-between align-items-center mt-3 mb-3">
            <a class="btn btn-secondary" href="{% url 'movies:home' %}">
                Домой
            </a>
            {% if user.is_staff %}
            <a class="btn btn-primary" href="{% url 'movies:actor-create' %}" role="button">
                Добавить
            </a>
            {% endif %}
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Имя
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for actor in actors %}
                    <tr>
                        <td>
                            <a href="{% url 'movies:actor-detail' actor.pk %}">{{ actor.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'movies/includes/pagination.html' %}
    </div>
</div>
{% endblock %}