{% extends 'movies/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
    <h2 class="mt-5 text-center">Movie recommendations service</h2>
    <div class="row d-flex justify-content-center align-items-center mt-3 mb-3">
        <div class="col-4 text-center">
            {% if user.is_staff %}
            <a href="{% url 'movies:genres' %}" class="btn btn-primary mt-2 mb-2">Genres</a>
            <a href="{% url 'movies:actors' %}" class="btn btn-primary mt-2 mb-2">Actors</a>
            {% endif %}
            {% if user.is_authenticated %}
            <a href="{% url 'movies:movies' %}" class="btn btn-primary mt-2 mb-2">Movies</a>
            <a href="{% url 'movies:statistics' %}" class="btn btn-primary mt-2 mb-2">Statistics</a>
            <a href="{% url 'movies:recommendations' %}" class="btn btn-primary mt-2 mb-2">Recommendations</a>
            {% else %}
            <a href="{% url 'users:login' %}" class="btn btn-primary mt-2 mb-2">Login</a>
            <a href="{% url 'users:register' %}" class="btn btn-primary mt-2 mb-2">Sign Up</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}