{% extends 'movies/base.html' %}
{% block title %}Recommendations{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Рекомендации</h2>

    <div class="accordion" id="recommendationAccordion">

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingPagerank">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePagerank">
                    Рейтинг
                </button>
            </h2>
            <div id="collapsePagerank" class="accordion-collapse collapse show" data-bs-parent="#recommendationAccordion">
                <div class="accordion-body">
                    {% for recommendation in pagerank_recommendations %}
                        {% include 'movies/includes/movie_card.html' with movie=recommendation.movie score=recommendation.score %}
                    {% empty %}
                        <p>Нет доступных рекомендаций.</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingCollaborative">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCollaborative">
                    Рекомендации по совместной фильтрации
                </button>
            </h2>
            <div id="collapseCollaborative" class="accordion-collapse collapse" data-bs-parent="#recommendationAccordion">
                <div class="accordion-body">
                    {% for recommendation in collaborative_recommendations %}
                        {% include 'movies/includes/movie_card.html' with movie=recommendation.movie predicted_rate=recommendation.predicted_rating %}
                    {% empty %}
                        <p>Нет доступных рекомендаций.</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingKNN">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseKNN">
                    Генерация по методу ближайшего соседа (k-means)
                </button>
            </h2>
            <div id="collapseKNN" class="accordion-collapse collapse" data-bs-parent="#recommendationAccordion">
                <div class="accordion-body">
                    {% for user in knn_recommendations %}
                        {% include 'movies/includes/user_card.html' with user=user %}
                    {% empty %}
                        <p>Похожих пользователей не найдено.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}